:root {
  --first-color: #222;
  --second-color: #e8e6e6;

  --light-gray-font-color: #dadcdd;
  --dark-gray-font-color: #777;

  --transparent-white-bg-color-01: rgba(255, 255, 255, 0.25);
  --transparent-white-bg-color-02: rgba(255, 255, 255, 0.1);

  --box-shadow: 0 5px 25px rgba(0, 0, 0, 0.35);

  --scroll-bar-color: #f1f1f1;
  --scroll-bar-thumb-color: #555;
  --scroll-bar-thumb-hover-color: #444;

  --color-fondo: #1b1b32;
  --color-titulos: #f2eef2;

  --hover-gradient-start: #5fe2ff;
  --hover-gradient-end: #ef7bfe;

  --navbar-bg-color: var(--color-fondo);
  --navbar-font-color: #f2eef2;
}

[data-theme="dark"] {
  --color-fondo: #1b1b32;
  --color-titulos: #f2eef2;
  --body-color: var(--color-fondo);
  --font-color: var(--color-titulos);
  --navbar-font-color: #f2eef2; /* Color claro para texto en modo oscuro */
  --footer-bg-color: #1b1b32; /* Fondo oscuro */
  --footer-font-color: #f2eef2; /* Texto claro */
  --footer-icon-border-color: white; /* Bordes claros */
  --footer-icon-hover-bg-color: white; /* Fondo hover claro */
  --footer-icon-hover-color: black; /* Iconos hover oscuros */
}

[data-theme="light"] {
  --color-fondo: #ffffff;
  --color-titulos: #222;
  --body-color: var(--second-color);
  --font-color: var(--first-color);
  --navbar-font-color: #222; /* Color oscuro para texto en modo claro */
  --footer-bg-color: #ffffff; /* Fondo claro */
  --footer-font-color: #222; /* Texto oscuro */
  --footer-icon-border-color: #222; /* Bordes oscuros */
  --footer-icon-hover-bg-color: #222; /* Fondo hover oscuro */
  --footer-icon-hover-color: white; /* Iconos hover claros */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body.dark-mode {
  background-color: var(--color-fondo);
  color: var(--color-titulos);

}

/* body {
  background-color: var(--second-color);
  color: var(--color-fondo);
} */
body {
  background-color: var(--body-color);
  color: var(--font-color);
}

/* Barra de Navegación */
.contenedor-header {
  background-color: var(--color-fondo);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
}

.navbar-brand .logo-img {
  border-radius: 50%;
  background: linear-gradient(90deg, var(--hover-gradient-start), var(--color-titulos));
}

.contenedor-header .navbar-nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.contenedor-header .navbar-nav .nav-item .nav-link {
  color: var(--navbar-font-color); /* Usa la variable actualizada */
  margin: 0 15px;
  padding: 3px;
  transition: 0.2s;
  text-decoration: none;
}

.contenedor-header .navbar-nav .nav-item .nav-link:hover {
  background: linear-gradient(90deg, var(--hover-gradient-start), var(--hover-gradient-end));
  color: var(--second-color);
  border-radius: 20%;
}

nav a:hover {
  background: linear-gradient(90deg, var(--hover-gradient-start), var(--hover-gradient-end));
}

nav a span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-bottom: 2px solid var(--hover-gradient-start);
  border-radius: 15px;
  transform: scale(0) translateY(50px);
  opacity: 0;
  transition: 0.5s;
}

nav a:hover span {
  transform: scale(1) translateY(0);
  opacity: 1;
}

.nav-responsive {
  color: var(--second-color);
  background: linear-gradient(90deg, var(--hover-gradient-start), var(--color-titulos));
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  display: none;
}

@media (max-width: 768px) {
  .nav-responsive {
    display: block;
  }
  .contenedor-header .navbar-collapse {
    background: var(--color-fondo);
    text-align: center;
  }
}

/* Estilos generales */
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h1 {
  font-size: 2.5rem;
  font-family: "Rubik Doodle Shadow", system-ui;
  background: linear-gradient(90deg, #ff5ffc, #7b9afe); /* Degradado de izquierda a derecha */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.seccion-oscura {
  color: var(--color-titulos);
  /* background-color: var(--color-fondo); */
}

.seccion-clara {
  color: var(--color-fondo);
  /* background-color: white; */
}
.seccion-titulo {
  font-size: 2rem;
  padding: 15px 0;
  font-family: "Rubik Dirt", cursive;
  color: var(--color-titulos);
}

.seccion-descripcion {
  font-size: 1.2rem;
  /* color: var(--color-titulos); */
  margin-bottom: 30px;
}
.seccion-texto {
  font-size: 1.2rem;
}

.btn-info {
  font-size: 1.1rem;
  margin: 20px;
}
.texto-negro {
  color: black;
}

.texto-blanco {
  color: white;
}

/* Seccion Principal */
.hero {
  margin-top: 70px;
  /* background-color: var(--color-fondo); */
  min-height: 450px;
  text-align: center;
}

.hero-principal {
  padding: 3rem;
}

.hero-imagen-desarrollador {
  width: 300px;
  height: 300px;
  border-radius: 20px;
  margin: 20px;
}

.hero-principal h2 {
  /* font-size: 1.5rem;
  color: #615151; */
    font-size: 1.5rem;
    color: #615151;
    transition: all 0.3s ease; /* Agrupado */
  }

/* About Me */

.about-me {
  height: 500px;
  padding: 10px;
}

.about-me .contenedor {
  max-width: 600px;
  text-align: center;
}

/* Experiencia */
.experiencia {
  padding: 40px;
}

.experiencia .columna {
  padding: 20px;
  border: 2px solid #063e93;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background: linear-gradient(90deg, var(--color-fondo), #575776, var(--color-fondo)); Degradado de izquierda a derecha */
  justify-content: space-evenly;
  transition: all 0.2s ease-in;
}
/* .experiencia.seccion-clara .container .row {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
   */
 
.experiencia .columna:hover {
  color: #021b3f;
  background-color: white;
}
.experiencia .columna:active {
  color: var(--color-fondo);
  background-color: white;
}
.experiencia i {
  font-size: 2.5rem;
  color: black;
  background-color: white;
  padding: 8px 19px;
  border-radius: 50%;
}
.experiencia-titulo {
  font-size: 25px;
  font-weight: bold;
  margin: 10px 0;
}

.badges-contenedor {
  font-size: 25px;
  font-weight: bold;
  margin: 10px 0;
}
.badges {
  margin: 5px;
}
/* Estilo para la imagen del icono */
.columna img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 10px;
  display: block; 
  margin: auto; 
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
}

/* Proyectos */

.proyectos-recientes {
  padding: 40px;
}
.proyectos-recientes img {
  height: 250px;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  display: block;
  transition: all 0.2s ease;
  box-shadow: 0 5px 35px rgba(7, 147, 235, 0.35);
}

.proyecto-contenedor {
  padding-top: 60px;
  margin-bottom: 40px;
}

.overlay {
  transition: all 0.2s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.overlay p {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 0;
}

.proyecto {
  position: relative;
  margin-bottom: 10px;
}

.proyecto:hover img {
  opacity: 0.2;
  transform: scale(1.1, 1.1);
}

.proyecto:hover .overlay {
  opacity: 1;
}

.overlay .iconos-contenedor {
  display: flex;
}

.overlay i {
  color: white;
  font-size: 60px;
  margin: 10px;
}
/* Course */

/* courses {
  z-index: 888;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 100px;
  transform:translateY(0);
  opacity: 1;
  transition: .5s ease;
  transition-property: transform, opacity;
} */

.courses.hide{
  transform: translateY(-30px);
  opacity: 0;
}

.slide-container {
  z-index: 777;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.swiper {
  position: relative;
  width: 100%;
  height: 540%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: end;
  transform: translateY(0);
  opacity: 1;
  transition: .5s ease;
  transition-property: transform, opacity;
  transition-delay: .15s;
}
.swiper-slide.hide{
  transform: translateY(30px);
  opacity: 0;
}

.card {
  margin-top: 10px;
  position: relative;
  width: 325px;
  height: 250px; 
  box-shadow: var(--box-shadow);
  border-radius: 25px;
  transition: var(--box-shadow);
  margin-bottom: 50px; 
  user-select: none;
}
.java-bg {
  background: #dd0030;
}

.html-css-js-bg {
  background: rgb(243, 112, 4);
}

.reactjs-bg {
  background:#0852da;
}

.angular-bg {
  background: rgb(79, 3, 79);
}

.python-bg {
  background: rgb(0, 0, 149);
}
.spring-bg {
  background: green;
}
.card-img {
  position: relative;
  height: 200px;
}

.card-img img{
  z-index: 777;
  position: absolute;
  top: 9px;
  left: 21%;
  transform: translate(-5%, -10%);
  transition: 0.5s ease;
  transition-delay: 0.1s;
}
.card:hover .card-img img {
  transform: translate(-50%, -150%) scale(0.2); /* Mueve la imagen hacia abajo y la escala a su tamaño original */
  box-shadow: var(--box-shadow);
}

.java-img {
  width: 150px;
  top: 0; /* Cambiar a 0 para evitar recorte */
  margin-left: 80px;
}
.card:hover .java-img {
  transform: translateY(-20px) scale(1.1); 
}
.card:active .java-img {
  transform: translateY(-20px) scale(1.1); 
}

.html-css-js-img {
  width: 200px;
  top: -10px; 
  right: 40px;
}
.card:hover .html-css-js-img {
  transform: translateY(-20px) scale(1.1); 
}
.card:active .html-css-js-img {
  transform: translateY(-20px) scale(1.1); 
}

.reactjs-img {
  width: 280px;
  top: -10px; 
  right: 40px;
}

.card:hover .reactjs-img {
  transform: translateY(-20px) scale(1.1); 
}
.card:active .reactjs-img {
  transform: translateY(-20px) scale(1.1); 
}
.angular-img {
  width: 140px;
  right: 40px;
 }

.card:hover .angular-img {
  transform: translateY(-20px) scale(1.1); 
}
.card:active .angular-img {
  transform: translateY(-20px) scale(1.1); 
}
.python-img {
  margin-top: 10px;
  width: 310px;
  top: 0; /* Cambiar a 0 para evitar recorte */
  right: 40px;
}

.card:hover .python-img {
  transform: translateY(-20px) scale(1.1); 
}
.card:active .python-img {
  transform: translateY(-20px) scale(1.1); 
}

.spring-img {
  margin-top: 10px;
  width: 200px;
  right: 40px;
}

.card:hover .spring-img {
  transform: translateY(-20px) scale(1.1); 
}
.card:active .spring-img {
  transform: translateY(-20px) scale(1.1); /* Ajusto la transformación */
}

.card-img .course{
  z-index: 666;
  position: absolute;
  top: 0;
  left: 10px;
  right: 0;
  color: #333;
  font-size: 5.1em;
  text-align: center;
  font-weight: 700;
  opacity: .1;
}

.card-content{
  position: absolute;
  bottom: 35px; /* Ajusto el bottom para evitar superposición */
  left: 30px;
}

.card-content .info {
  transform: translateY(30px);
  transition: transform .3s ease;
}

.card:hover .card-content .info {
  transform: translateY(-10px);
}

.card-content .info h2 {
  color: var(--color-titulos);
  font-size: 1.7em;
  font-weight: 600;
  line-height: 50px;
}

.card-content .sub-info {
  display: flex;
  font-size: 1em;
  margin-bottom: 10px;
}

.card-content .sub-info span {
  color: #fefefe;
  font-weight: 300;
  margin-right: 10px; 
}

.card-content .sub-info h4{
  color: #fefefe;
  font-weight: 500;
}

.card-content .read-more-btn {
  transform: translateY(35px);
  opacity: 0;
  transition-property: transform, opacity;
  transition: .3s ease-out, .5s;
}

.card:hover .read-more-btn{
  transform: translateY(-10px);
  opacity: 1;
}

.card-content .read-more-btn a {
  color: var(--color-titulos);
  font-size: .9em;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  cursor: pointer;
}

.card-content .read-more-btn a i {
  font-size: 1.2em;
  margin-left: 2px;
  transition: .3s ease;
}

.card-content .read-more-btn a:hover i {
  margin-left: 5px;
}
/* Slider navigation css */
.swiper-button-next::after,
.swiper-button-prev::after{
  content: '';
}
.slider-nav{
  position:sticky;
  width: 190px;
  bottom: 65px;
  right: 180px;
  transform: translateY(0);
  opacity: 1;
  transition: .5s ease;
  transition-property: transform, opacity;
}
.slider-nav.hider{
  transform: translateY(30px);
  opacity: 0;
}


.swiper-button-next,
.swiper-button-prev{
  color: var(--first-color);
  font-size: 1.1em;
  font-weight: 400;
  user-select: none;
}
.slider-nav i{
font-size: 2.1em;
}
.modal-container{
  z-index: 111;
  position: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  
}
.modal-container.active{
z-index: 999;
display: flex;
}

.modal-box{
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  border-radius: 50px;
  transform: translateY(15px);
  transition: opacity .3s, height 0s, width 0s;
  transition-delay: 0s, 1s, 1s;
}

.modal-box.active{
  width: 90%;
  height: 85%;
  opacity: 1;
  transition: opacity .0s, height .8s, width .8s;
  transition-delay: 0s, 1s, 1s;
  }

.modal-content{
  margin-top: 10px;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity .25s ease;
  transition-delay: 2s;
}
.modal-box.active .modal-content {
opacity: 1;
}

.modal-content.active{
  visibility: visible;
}
.modal-close-btn{
  position: absolute;
  top: -40px;
  right: 50px;
  color: var(--second-color);
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.modal-close-btn i{
  font-size: 1.3em;
}
.modal-close-btn span{
  font-size: 1.1em;
  margin-left: 10px; 
}
.modal-inner{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: start;
  height: 100%;
  gap: 25px;
  padding: 0 35px;
}
.modal-bg-title{
  position: absolute;
  width: 335px;
  columns: var(--second-color);
  font-size: 5em;
  font-weight: 800;
  opacity: .15;
  top: 50%;
  left: 10px;
  transform: rotate(-90deg);
  font-family: "Rubik Doodle Shadow", system-ui;
  background: linear-gradient(90deg, #f1f1f1, black); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.modal-media-icons{
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 40px;
  transform: translateY(-50%);
  row-gap: 25px;
}
.modal-media-icons a{
  color: #fff;
  font-size: 1.5em;
  text-decoration: none;
}
.modal-media-icons a:hover{
  transform: scale(1.3);
}
.modal-image-area{
  transform: translateY(-35px);
}
.modal-text-content{
  position: relative;
  max-height: 70vh;
  overflow: hidden;
  overflow-y: initial !important;
  margin: auto 0;
  padding-right: 15px;
}
.modal-img{
  width: 300px;
}
.modal-text-content::-webkit-scrollbar{
  background:var(--scroll-bar-color);
  width: 10px;
  border-radius: 50px;
}
.modal-text-content.modal-text-content::-webkit-scrollbar-trumb{
  background:var(--scroll-bar-thumb-color);
  border-radius: 50px;
}
.modal-text-content.modal-text-content::-webkit-scrollbar-trumb:hover{
  background: var(--scroll-bar-thumb-hover-color);
}
.modal-title{
  color: #fff;
  font-size: 3em;
  font-weight: 600;
}
.modal-title-sub{
  display: flex;
  transform:translateY(-6px);
  margin-bottom: 12px;
  font-family: "Rubik Doodle Shadow", system-ui;
  background: linear-gradient(90deg, #f1f1f1, black); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;

}
.modal-title-sub span{
  color: var(--light-gray-font-color);
  font-size: 1em;
  font-weight: 300;
  margin-right: 10px;
}
.modal-title-sub h4{
  font-family: "Rubik Doodle Shadow", system-ui;
  background: linear-gradient(90deg, #680366, #03207d); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-size: 1em;
  font-weight: 700;
}
.modal-text-content p{
  color: var(--second-color);
  font-size: 1em;
  font-weight: 500;
  max-width: 850px;
}
.modal-see-more{
  color: var(--second-color);
  text-decoration: none;
  width: 90px;
  display: flex;
  align-items: center;
}
.modal-see-more span{
  font-size: .85em;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.modal-see-more i{
  font-size: 1.3em;
  margin-left: 2px;
  transition: .3s ease;
}
.modal-see-more:hover i{
  margin-left: 5px;
}
.planet-facts{
  position: relative;
  display: grid;
  place-items: left;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 15px;
  column-gap: 15px;
  width: fit-content;
  margin: 35px 0;
}
.planet-facts .fact{
color: var(--second-color);
background-color: var(--transparent-white-bg-color-02);
width: 200px;
height: 85px;
display: flex;
justify-content: center;
align-items: left;
flex-direction: column;
padding-left: 25px;
border-radius: 10px;
}
.planet-facts .fact h5{
  font-size: 1em;
  font-weight: 500;
}
.planet-facts .fact span{
  font-size: 1em;
  font-weight: 300;
}
.modal-background {
  z-index: 998;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Fondo negro semitransparente */
  display: none;
}

/* Mostrar el fondo oscuro cuando el modal esté activo */
.modal-container.active + .modal-background {
  display: block;
}
  /* Convenciones */

.convenciones {
  padding: 40px 40px 80px 40px;
}

.convenciones .carousel {
  max-width: 800px;
}

.carousel-item {
  height: 500px;
}

.carousel-item .container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.convencion-imagen {
  height: 150px;
  width: 150px;
  margin: 10px 10px 20px 10px;
}

.convencion-texto {
  max-width: 70%;
  font-size: 20px;
  text-align: center;
  font-family: "Share Tech Mono", monospace;
  color: var(--color-titulos);
}

.convencion-info {
  font-weight: bold;
  text-align: center;
  color: var(--color-titulos);
}

.convencion-info p {
  margin-bottom: 0;
}

.convencion-footer .cliente {
  font-size: 1.2rem;
}

.convencion-info .cargo {
  font-size: 0.9rem;
  color: #f1f1f1;
}
.skills {
  width: 100%;
}
/*SECCION SKILLS*/
.skills .contenido-seccion {
  text-align: center;
}

.skills .filas h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.skills .fila {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.skills .skill {
  margin: 10px;
  text-align: center;
}

.skills .skill .skill-icon {
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #a2e6e2;
  overflow: hidden;
  position: relative;
  box-shadow: 2px 2px 10px rgba(7, 147, 235, 0.35);
  transition: all 0.5s ease-in-out;
}

.skills .skill .skill-icon img {
  width: 60%;
  height: 60%;
  transition: all 0.5s ease-in-out;
}

.skills .skill .skill-icon:hover img {
  transform: scale(1.2);
}

.skills .skill span {
  display: block;
  margin-top: 10px;
  font-size: 1rem;
  /* color: #f1f1f1; */
}

.skills .skill .skill-icon:hover::before {
  content: attr(data-hover);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  z-index: 1;
}
/* Contact */

.contact .container {
  max-width: 1100px;
  min-height: 200px;
  padding: 20px;
}

.contact .rectangulo {
  margin-top: -5rem;
  background-color: rgb(13, 110, 253);
  border-radius: 10px;
  box-shadow: 0px 1px 4px 1px white;
}

.contact .row {
  width: 100%;
  display: flex;
  align-items: center;
}

.contact .descripcion {
  color: white;
  font-size: 1.2rem;
}

.contact button {
  color: white;
  font-weight: bold;
  background-color: transparent;
  border: 2px solid white;
  padding: 1.2em 2em;
  margin: 10px;
  border-radius: 100px;
  transition: all 0.2s ease-in-out;
}

.contact button:hover {
  background-color: white;
  color: black;
}

.contact button:active {
  background-color: white;
  color: black;
}

.contact button i {
  color: white;
  font-size: 1.3rem;
  transition: all 0.2s ease-in-out;
}

.contact button:hover i {
  color: black;
}
.contact button:active i {
  color: black;
}

/* Pie de Pagina (footer) */

footer {
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: var(--footer-bg-color); Fondo dinámico */
  color: var(--footer-font-color); /* Texto dinámico */
}

.footer-text {
  font-size: 1.5rem;
  padding: 20px;
  margin-bottom: 30px;
  font-family: "Quicksand", sans-serif;
  color: var(--footer-font-color); /* Texto dinámico */
}

.icons-redes-sociales a {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  margin: 10px;
  border: 2px solid var(--footer-icon-border-color); /* Borde dinámico */
  border-radius: 50%;
  transition: all 0.2s ease-in;
}

.icons-redes-sociales i {
  color: var(--footer-icon-border-color); /* Icono dinámico */
  font-size: 1.5rem;
  transition: all 0.2s ease-in;
}

.icons-redes-sociales a:hover {
  background-color: var(--footer-icon-hover-bg-color); /* Fondo hover dinámico */
  border: 2px solid rgb(13, 110, 253);
  transform: scale(1.2, 1.2);
}

.icons-redes-sociales a:hover i {
  color: var(--footer-icon-hover-color); /* Icono hover dinámico */
}

.derecho-de-autor {
  font-size: 15px;
  color: var(--footer-font-color); /* Texto dinámico */
  padding: 20px;
}

/* Adaptable (Responsivo)*/

@media screen and (max-width: 1220px){
  .modal-img{
    width: 220px;
    margin-left: 5%;
  }
}
/* Tablets en posición horizontal y dispositivos de tamaño similar */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  body {
    font-size: 16px;
  }
  .navbar-nav .nav-link {
    padding: 10px;
  }
  .modal-media-icons {
    position: unset;
    display: contents;
  }  
  .modal-inner{
    align-items: start;
   } 
  .modal-text-content{
    position: absolute;
    margin-left: 30px;
  }
  .modal-img{
    width: 120px;
  }
  .modal-bg-title{
    display: none;
  }
 
}

@media screen and (max-width: 750px) {
  .about-me {
    height: 650px;
  }
 .modal-inner{
  align-items: start;
 } 
 .modal-text-content p{
  font-size: .9em;
 }
 .modal-media-icons {
  position: unset;
  display: inline-block;
}

.modal-text-content{
  position: absolute;
  margin-left: 30px;
}
.modal-img{
  width: 120px;
}
.modal-bg-title{
  display: none;
}
.planet-facts{
  grid-template-columns: repeat(2, 1fr);
}
}

/* Dispositivos con un ancho máximo de 480px */
@media only screen and (max-width: 480px) {
  body {
    font-size: 14px; 
  }
  .navbar-nav .nav-link {
    padding: 8px; 
  }
  .modal-media-icons {
    margin-left: 30%;
  }
  .modal-inner {
    align-items: start; 
  }
  .modal-text-content {
    position: absolute;
    margin-left: 20px; 
  }
  .modal-img {
    margin-top: 20px;
    width: 100px; 
  }
  .modal-bg-title {
    display: none; 
  }
  .modal-text-content p {
    font-size: 0.8em; 
   }
  .planet-facts{
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Ajustes adicionales para dispositivos con un ancho máximo de 450px */
@media only screen and (max-width: 450px) {
  body {
    font-size: 13px; /* Ajusta el tamaño de la fuente para dispositivos más pequeños */
  }
  .navbar-nav .nav-link {
    padding: 6px; /* Ajusta el padding para la barra de navegación */
  }
  .modal-text-content {
    padding: 8px; /* Ajusta el padding del contenido del modal */
  }
  .modal-img {
    width: 90px; /* Ajusta el tamaño de la imagen del modal */
  }
  .modal-text-content p {
    font-size: 0.75em; /* Ajusta el tamaño de la fuente del texto del modal */
  }
  .planet-facts{
    grid-template-columns: repeat(1, 1fr);
  }
  .modal-media-icons {
    display: none;
  }

}
